@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset alle standard attribute */
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Content container (rand links & rechts) */
.container{
  width: 80%;
  margin: auto;
}

/* navigationbar container */
.nav-container {
  background-color: lightgreen;
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text {
  padding: 1rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.text h1 {
  color: black;
}

.text p {
  color: black;
}


.video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.video video {
  width: 100%;
  height: 100%;
}

.center-p-2 {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

/* styling für canvas */

#animatedCanvas {
  width: 100%;
  height: 500px;
  border: 1px solid #d3d3d3;
}